
#gallery {
    display:block;
    left:90px;

   
}
#flexcontainer1 {
    -webkit-flex-direction:column;
    flex-direction:column
}

#gallery3 {
    display:block;
    left:70px;
    padding-bottom:30px;
}

#image_grabber_alltext {
    display:none;
}
    
#image_grabber_alltext2 {
        display:inline-block;
}
#image_grabber_textbox2 {
        width:500px;
}
#image_description2{
        
}

#picture_and_gallery{
        height:450px;
		
	}
#mapleplay {
    top:300px;   
}
